@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("font/fontawesome-webfont.eot?#iefix") format('embedded-opentype'), url("font/fontawesome-webfont.woff") format('woff'), url("font/fontawesome-webfont.ttf") format('truetype'), url("font/fontawesome-webfont.svg#FontAwesomeRegular") format('svg');
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  color: #222;
  font: 13px/20px Arial, Helvetica, sans-serif;
  text-shadow: 0 0 1px transparent;
}
@media screen and (max-width: 1260px) {
  body {
    margin: 0 30px;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 13px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: "Times New Roman", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-size: 1.3em;
  margin-top: 35px;
  font-weight: bold;
}
h4 {
  font-size: 1.2em;
  margin-top: 30px;
  font-weight: bold;
}
h5 {
  font-size: 1.1em;
  margin-top: 30px;
  font-weight: bold;
}
h6 {
  font-size: 1em;
  margin-top: 30px;
  font-weight: bold;
}
h7 {
  font-size: 1em;
  margin-top: 30px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #258fb8;
}
a:hover {
  text-decoration: underline;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.inner {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1260px) {
  .inner {
    width: 100%;
  }
}
#main-col {
  width: 900px;
}
@media screen and (max-width: 1260px) {
  #main-col {
    width: 100%;
    margin-right: -300px;
  }
}
@media screen and (max-width: 900px) {
  #main-col {
    margin-right: 0;
    float: none;
  }
}
@media screen and (max-width: 1260px) {
  #wrapper {
    margin-right: 300px;
  }
}
@media screen and (max-width: 900px) {
  #wrapper {
    margin-right: 0;
  }
}
#header {
  text-shadow: 0 0 1px #fff;
  margin: 50px auto;
}
#header a {
  color: #736f6f;
}
#header a:hover {
  color: #258fb8;
  text-decoration: none;
}
#header h1 {
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1;
}
#header h2 {
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1;
  margin-top: 10px;
}
#header #main-nav {
  font-family: "Times New Roman", Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 2.5em;
}
#header #main-nav ul {
  list-style: none;
}
#header #main-nav ul li {
  float: left;
  margin-left: 30px;
}
article {
  -webkit-box-shadow: 1px 2px 3px rgba(221,221,221,0.8);
  box-shadow: 1px 2px 3px rgba(221,221,221,0.8);
  background: #fff;
}
article.page {
  padding-left: 20px;
}
article.page .icon {
  display: none;
}
article.post .icon:before {
  content: '\f073';
}
article.photo .icon:before {
  content: '\f030';
}
article.link .icon:before {
  content: '\f0c1';
}
article.link .title a:after {
  content: '\f08e';
  color: #999;
  font: 12px FontAwesome;
  padding-left: 10px;
  vertical-align: super;
}
article .post-content {
  padding: 20px 20px 15px 72px;
  margin-bottom: 50px;
  position: relative;
}
@media screen and (max-width: 600px) {
  article .post-content {
    padding-left: 20px;
  }
}
article .gallery {
  overflow: hidden;
  position: relative;
}
article .gallery:hover .control {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
article .gallery img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
article .gallery .control {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
article .gallery .prev,
article .gallery .next {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
article .gallery .prev:before,
article .gallery .next:before {
  position: absolute;
  font: 24px/1 FontAwesome;
  text-align: center;
  width: 24px;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  color: #fff;
  margin-top: -12px;
  top: 50%;
}
article .gallery .prev {
  left: 0;
}
article .gallery .prev:before {
  content: '\f053';
  left: 10px;
}
article .gallery .next {
  right: 0;
}
article .gallery .next:before {
  content: '\f054';
  right: 10px;
}
article header .icon {
  width: 32px;
  height: 32px;
  margin-right: 25px;
  position: absolute;
  top: 22px;
  left: 20px;
  color: #736f6f;
}
@media screen and (max-width: 600px) {
  article header .icon {
    display: none;
  }
}
article header .icon:before {
  position: absolute;
  font: 28px FontAwesome;
  top: 0;
  left: 0;
  width: 32px;
  text-align: center;
}
article header time {
  color: #999;
  font: 0.9em "Times New Roman", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  display: block;
  line-height: 1;
}
article header a {
  color: #999;
}
article header a:hover {
  color: #258fb8;
  text-decoration: none;
}
article header a:before {
  font: 1.1em FontAwesome;
  padding-right: 10px;
  vertical-align: middle;
}
article header a.more-link:before {
  content: '\f054';
}
article header a.comment-link:before {
  content: '\f075';
}
article header .title {
  font-weight: normal;
}
article header .title a {
  color: #444;
}
article header .title a:hover {
  color: #258fb8;
  text-decoration: none;
}
article header .categories,
article header .tags {
  position: relative;
  padding-left: 25px;
  margin: 5px 0;
}
article header .categories:before,
article header .tags:before {
  position: absolute;
  font: 1.1em FontAwesome;
  color: #999;
}
article header .categories:before {
  content: '\f07b';
  top: 2px;
  left: 1px;
}
article header .tags:before {
  content: '\f02b';
  top: 3px;
  left: 2px;
}
article .entry {
  text-align: justify;
  line-height: 1.6;
}
article .entry p,
article .entry blockquote,
article .entry ul,
article .entry ol,
article .entry dl,
article .entry table,
article .entry iframe,
article .entry .video-container {
  margin-top: 15px;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: none;
}
table-layout fixed {
  width: 100%;
}
table-layout fixed th {
  white-space: nowrap;
  color: #444;
  font-weight: 600;
  background: #eee;
}
table-layout fixed td,
table-layout fixed th {
  border: 1px solid #e2e2e2;
  padding: 2px;
  text-align: left;
}
blockquote {
  background: #f6f6f6;
  border-left: 6px solid #ddd;
  font-style: ormal;
  font-family: "Georgia", serif;
  font-size: 1em;
  padding: 0 0 2px 6px;
  text-align: left;
}
blockquote footer {
  border-top: none;
  font-size: 1em;
  line-height: 1;
  margin: 5px 0 0;
  padding-top: 0;
}
blockquote footer cite:before {
  content: '—';
  color: #ccc;
  padding: 0 0.5em;
}
code,
pre {
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
}
code {
  background: #eee;
  color: #666;
  padding: 0 5px;
  margin: 0 2px;
  font-size: 0.9em;
  border: 1px solid #ddd;
  border-radius: 3px;
}
pre {
  overflow-y: hidden;
}
pre overflow-x auto {
  background: #eee;
  border: none;
  margin-top: 10px;
  padding: 7px 15px;
  border-radius: 2px;
}
pre overflow-x auto code {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
pre ul,
pre ol,
pre dl {
  margin-left: 20px;
}
pre ul ul,
pre ol ul,
pre dl ul,
pre ul ol,
pre ol ol,
pre dl ol,
pre ul dl,
pre ol dl,
pre dl dl {
  margin-top: 0;
}
pre h1 {
  border-bottom: 1px solid #ddd;
}
pre h1,
pre h2,
pre h3,
pre h4,
pre h5,
pre h6 {
  font-weight: normal;
  padding-bottom: 5px;
  margin-top: 12px;
}
pre img,
pre video {
  max-width: 100%;
  height: auto;
  border: none;
}
pre iframe {
  border: none;
}
pre .caption {
  display: block;
  margin-top: 5px;
  color: #999;
  position: relative;
  font-size: 0.9em;
  padding-left: 25px;
}
pre .caption:before {
  content: '\f040';
  position: absolute;
  font: 1.3em FontAwesome;
  position: absolute;
  left: 0;
  top: 3px;
}
pre .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
pre .video-container iframe,
pre .video-container object,
pre .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
pre .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
footer {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  color: #999;
  font-size: 0.9em;
  line-height: 16px;
  position: relative;
  min-height: 16px;
}
footer a {
  color: #999;
}
footer a:hover {
  color: #258fb8;
  text-decoration: none;
}
footer a:before {
  font: 1.1em FontAwesome;
  padding-right: 10px;
  vertical-align: middle;
}
footer a.more-link:before {
  content: '\f054';
}
footer a.comment-link:before {
  content: '\f075';
}
footer .categories,
footer .tags {
  position: relative;
  padding-left: 25px;
  margin: 5px 0;
}
footer .categories:before,
footer .tags:before {
  position: absolute;
  font: 1.1em FontAwesome;
}
footer .categories:before {
  content: '\f07b';
  top: 2px;
  left: 1px;
}
footer .tags:before {
  content: '\f02b';
  top: 3px;
  left: 2px;
}
footer .addthis {
  margin-top: 15px;
}
footer .addthis iframe {
  margin-top: 0;
}
.bdshare-button-style2-24 {
  width: 330px;
  margin: auto;
}
.bdshare-button-style2-24 .fx {
  color: #999;
  padding: 0;
  margin: 6px;
  height: 54px;
  display: inline-block;
  font: normal normal normal 36px/1 FontAwesome;
  background: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bdshare-button-style2-24 .fx:hover {
  color: #fff;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#comment {
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  margin-bottom: 50px;
}
#comment .title {
  font-weight: normal;
  margin-bottom: 15px;
}
#pagination a {
  max-width: 350px;
  display: block;
  padding: 4px 8px;
  background: #ddd;
  color: #999;
  font-family: "Times New Roman", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px #fff;
  margin-bottom: 2px;
}
#pagination a:hover {
  background: #258fb8;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}
#pagination .prev:before {
  content: '\f053';
  padding-right: 10px;
  font-family: FontAwesome;
}
#pagination .next:after {
  content: '\f054';
  padding-left: 10px;
  font-family: FontAwesome;
}
.archive-title {
  color: #999;
  font-weight: normal;
  margin-bottom: 30px;
  text-shadow: 0 0 1px #fff;
}
.archive-title:before {
  font-family: FontAwesome;
  content: '\f073';
  padding-right: 15px;
}
.archive-title.tag:before {
  content: '\f02b';
}
.archive-title.category:before {
  content: '\f07b';
}
.archive {
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
}
.archive article {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.archive article .post-content {
  margin-bottom: 0;
}
#sidebar {
  width: 280px;
  line-height: 1.8em;
  left: calc(50% + 315px);
}
@media screen and (max-width: 900px) {
  #sidebar {
    float: none;
    width: 100%;
  }
}
#sidebar .widget {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  margin-bottom: 20px;
  word-wrap: break-word;
}
#sidebar .widget .title {
  padding: 15px 15px;
  margin-top: 0px;
  font-size: 1em;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}
#sidebar .widget .entry {
  font-size: 0.9em;
  padding: 15px 15px;
}
#sidebar .widget ul,
#sidebar .widget ol,
#sidebar .widget dl {
  list-style: none;
}
#sidebar .widget ul ul,
#sidebar .widget ol ul,
#sidebar .widget dl ul,
#sidebar .widget ul ol,
#sidebar .widget ol ol,
#sidebar .widget dl ol,
#sidebar .widget ul dl,
#sidebar .widget ol dl,
#sidebar .widget dl dl {
  list-style: disc;
  margin-left: 10px;
}
#sidebar .search {
  margin-bottom: 20px;
}
#sidebar .search input {
  background: #fff;
  font-family: "Times New Roman", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 1em;
  padding: 10px 15px;
  border: 1px solid #ddd;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
}
#sidebar .search input:focus {
  color: #444;
}
#sidebar .tag small {
  margin-left: 15px;
  color: #999;
}
#sidebar .tag small:before {
  content: '(';
}
#sidebar .tag small:after {
  content: ')';
}
#sidebar .twitter li {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
  font-size: 0.9em;
}
#sidebar .twitter li:last-of-type {
  border-bottom: none;
}
#sidebar .twitter small {
  display: block;
  margin-top: 10px;
  color: #999;
  line-height: 1;
}
#sidebar .tagcloud .entry {
  padding-right: 3px;
}
#sidebar .tagcloud a {
  margin-right: 5px;
}
#sidebar min 10px {
  font-size: 10px;
}
#sidebar min 10px font-max 10px {
  display: inline-block;
}
#sidebar .catlog {
  position: fixed;
  width: 280px;
}
.entry_catlog {
  font-size: 0.9em;
  padding: 2px 5px;
}
.archive-list {
  font-size: 0.9em;
  padding: 15px 20px;
}
.archive-list .archive-list-count {
  margin-left: 8px;
  font-size: 0.8em;
  color: #999;
}
.archive-list .archive-list-count:before {
  content: '(';
}
.archive-list .archive-list-count:after {
  content: ')';
}
.toc {
  padding: 0;
  margin: 0.2em;
  line-height: 1.5em;
}
.toc li {
  list-style-type: none;
}
.toc-child {
  margin-left: 0.8em;
}
#footer {
  color: #999;
  margin-bottom: 50px;
  font: 0.9em/1.6 "Times New Roman", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px #fff;
}
.entry .gist {
  background: #f0f0f0;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 7px 15px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.4;
  overflow: auto;
  color: #666;
}
.entry .gist .gist-file {
  border: none;
  font-family: Microsoft-YaHei;
  margin: 0;
  font-size: 0.9em;
}
.entry .gist .gist-file .gist-data {
  background: none;
  border-bottom: none;
}
.entry .gist .gist-file .gist-data pre {
  padding: 0 !important;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
}
.entry .gist .gist-file .gist-meta {
  background: none;
  color: #999;
  margin-top: 5px;
  padding: 0;
  text-shadow: 0 0 1px #fff;
  font-size: 100%;
}
.entry .gist .gist-file .gist-meta a {
  color: #258fb8;
}
.entry .gist .gist-file .gist-meta a:visited {
  color: #258fb8;
}
figure.highlight {
  background: #f6f6f6;
  margin-top: 10px;
  padding: 0px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.4;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: #999;
  margin-bottom: 4px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  overflow-y: hidden;
}
overflow-x auto {
  border: none;
  padding: 0px;
}
table {
  margin-top: 0;
  border-spacing: 0;
}
.gutter {
  width: 30px;
  color: #999;
  padding-right: 5px;
  border-right: 1px solid #ddd;
  text-align: right;
}
.code {
  width: 768px;
  padding-left: 5px;
  border-left: 1px solid #fff;
  color: #333;
}
.nine {
  display: inline-block;
}
.line {
  display: inline-block;
}
.marked {
  width: 100%;
  background: #e6e6e6;
}
figcaption {
  padding-left: 8px;
  padding-top: 2px;
  border-bottom: 1px solid #ddd;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #8686a5;
  font-style: Roboto-Regular;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #a41acf;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #228b22;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #d18613;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #e13406;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
